In [34]:
# 데이터 분석을 위한 pandas, 수치계산을 위한 numpy
# 시각화를 위한 seaborn, matplotlib.pyplot 을 로드합니다.

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [35]:
data = "/kaggle/input/titanic/"

train_df = pd.read_csv(data + "train.csv")
test_df = pd.read_csv(data + "test.csv")

train_df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [41]:
train_df.shape, test_df.shape

((891, 12), (418, 11))

In [37]:
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [38]:
train_df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [39]:
# 컬럼에서 Name, PassengerId, Ticket, Cabin은 상관 없다고 판단하여 삭제함
# Survived은 target 이므로 제외
'''
Survived : 생존 여부
Pclass : 선실 등급 1, 2, 3 등급 낮은 숫자일수록 높은 등급
Sex : 성별
Age : 나이
---
SibSp : 데이터 세트는 가족 관계를 이런 식으로 정의합니다...
    형제자매 = 형제, 자매, 이복형제, 이복자매
    배우자 = 남편, 아내(여주인과 약혼자는 무시됨)
---
Parch : 데이터 세트는 가족 관계를 이런 식으로 정의합니다...
    부모 = 어머니, 아버지
    자녀 = 딸, 아들, 의붓딸, 의붓아들
    일부 어린이는 유모와 함께만 여행하므로 parch=0입니다.
---
Ticket : 티켓 번호
Fare : 요금
Cabin : 객실 번호
---
Embarked : 승선항
Port of Embarkation	
C = Cherbourg, 
Q = Queenstown, 
S = Southampton
'''
# X = train_df[['Pclass', 'Sex', 'Age', 'SibSp',
#               'Parch', 'Fare', 'Embarked']]
X.shape

(891, 5)

In [31]:
women = train_df.loc[train_df.Sex == 'female']["Survived"]
rate_women = sum(women)/len(women)

print("% of women who survived:", rate_women)

% of women who survived: 0.7420382165605095

In [32]:
men = train_df.loc[train_df.Sex == 'male']["Survived"]
rate_men = sum(men)/len(men)

print("% of men who survived:", rate_men)

% of men who survived: 0.18890814558058924

In [55]:
y = train_df["Survived"]

features = ["Pclass", "Sex", "SibSp", "Parch"]
X = pd.get_dummies(train_df[features])
X_test = pd.get_dummies(train_df[features])

y.shape

(891,)

In [48]:
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier

estimators = [DecisionTreeClassifier(random_state=42),
             RandomForestClassifier(random_state=42),
             GradientBoostingClassifier(random_state=42)]
estimators

[DecisionTreeClassifier(random_state=42),
 RandomForestClassifier(random_state=42),
 GradientBoostingClassifier(random_state=42)]

In [49]:
results = []
for estimator in estimators :
    result = []
    result.append(estimator.__class__.__name__)
    results.append(result)
results

[['DecisionTreeClassifier'],
 ['RandomForestClassifier'],
 ['GradientBoostingClassifier']]

In [56]:
from sklearn.model_selection import RandomizedSearchCV
max_depth = np.random.randint(2, 20, 10)
max_features = np.random.uniform(0.3, 1.0, 10)

param_distributions = {'max_depth':max_depth,
                       'max_features' : max_features}

results = []
for estimator in estimators :
    result = []
    if estimator.__class__.__name__ != 'DecisionTreeClassifier' :
        param_distributions['n_estimators'] = np.random.randint(100, 1000, 10)

    clf = RandomizedSearchCV(estimator,
                    param_distributions,
                    n_iter=10,
                    scoring='accuracy',
                    n_jobs=-1,
                    cv=5,
                    verbose=2
                    )
    clf.fit(X, y).get_params()
    result.append(estimator.__class__.__name__)
    result.append(clf.best_params_)
    result.append(clf.best_score_)
    result.append(clf.score(X, y))
    result.append(clf.cv_results_)
    results.append(result)

Fitting 5 folds for each of 10 candidates, totalling 50 fits
Fitting 5 folds for each of 10 candidates, totalling 50 fits
Fitting 5 folds for each of 10 candidates, totalling 50 fits

In [62]:
df_ = pd.DataFrame(results,
            columns=['estimator', 'best_params', 'train_score', 'test_score', 'cv_result'])
df_

,estimator,best_params,train_score,test_score,cv_result
0,DecisionTreeClassifier,"{'max_features': 0.9609746969376769, 'max_dept...",0.792386,0.800224,"{'mean_fit_time': [0.00478672981262207, 0.0056..."
1,RandomForestClassifier,"{'n_estimators': 965, 'max_features': 0.362043...",0.805831,0.805836,"{'mean_fit_time': [1.0679853916168214, 2.06788..."
2,GradientBoostingClassifier,"{'n_estimators': 425, 'max_features': 0.915792...",0.793528,0.815937,"{'mean_fit_time': [0.4516907215118408, 0.45408..."

In [61]:
pd.DataFrame(df_.loc[1, 'cv_result']).sort_values(by='rank_test_score')

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_n_estimators,param_max_features,param_max_depth,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
6,2.877225,0.079433,0.108373,0.002495,965,0.362044,3,"{'n_estimators': 965, 'max_features': 0.362043...",0.810056,0.808989,0.803371,0.797753,0.808989,0.805831,0.004671,1
2,1.316318,0.023568,0.055172,0.004514,463,0.93129,2,"{'n_estimators': 463, 'max_features': 0.931289...",0.804469,0.808989,0.786517,0.764045,0.803371,0.793478,0.016577,2
9,1.301281,0.140451,0.043612,0.010173,463,0.368931,15,"{'n_estimators': 463, 'max_features': 0.368931...",0.765363,0.786517,0.803371,0.780899,0.814607,0.790151,0.017240,3
5,2.012757,0.027074,0.085042,0.001820,674,0.368931,17,"{'n_estimators': 674, 'max_features': 0.368931...",0.759777,0.786517,0.803371,0.780899,0.808989,0.787910,0.017470,4
0,1.067985,0.008679,0.046925,0.001738,357,0.593293,15,"{'n_estimators': 357, 'max_features': 0.593292...",0.759777,0.786517,0.803371,0.775281,0.814607,0.787910,0.019518,5
8,0.492783,0.006330,0.022751,0.000785,159,0.960975,15,"{'n_estimators': 159, 'max_features': 0.960974...",0.759777,0.786517,0.803371,0.764045,0.820225,0.786787,0.022978,6
3,2.948398,0.023684,0.118135,0.003185,965,0.771517,10,"{'n_estimators': 965, 'max_features': 0.771516...",0.759777,0.786517,0.803371,0.775281,0.803371,0.785663,0.016768,7
4,2.119859,0.036036,0.084022,0.005028,691,0.93129,8,"{'n_estimators': 691, 'max_features': 0.931289...",0.759777,0.786517,0.803371,0.775281,0.803371,0.785663,0.016768,7
7,1.266815,0.020403,0.053320,0.002104,411,0.789164,10,"{'n_estimators': 411, 'max_features': 0.789163...",0.759777,0.786517,0.803371,0.775281,0.803371,0.785663,0.016768,7
1,2.067884,0.013640,0.085144,0.002088,691,0.789164,15,"{'n_estimators': 691, 'max_features': 0.789163...",0.759777,0.786517,0.803371,0.764045,0.808989,0.784540,0.019948,10